<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
	<variable name="VerboseLayout" value="${newline}${longdate} ${level:upperCase=true} ${message} "/>

	<variable name="ExceptionVerboseLayout" value="${newline}${longdate} ${level:upperCase=true} ${message} ${exception:format=tostring}"/>

	<targets async="true">
		<target name="file" xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="${VerboseLayout}"></target>

		<target name="fileAsException" xsi:type="FilteringWrapper" condition="length('${exception}')>0">
			<target xsi:type="File" fileName="${basedir}/logs/${shortdate}.txt" layout="${ExceptionVerboseLayout}" />
		</target>
	</targets>

	<rules>
		<logger name="*"  writeTo="file,fileAsException" />
	</rules>
</nlog>